<h3>Storage Facility View Created Listings</h3>
<p></p>
<div facility-auctions>
<div class="marginbottom20">

  <button class="button info blue" onclick={{action createauction false}}>Create Live Auction</button>

   <button class="button info blue" onclick={{action createauction true}}>Create Online Auction</button>

</div>

{{facility/auction-listings AuctionListings=model.AuctionListings editlink='user.facility.auctions.edit'}}

</div>

{{outlet}}
