{{log "options" }}
{{log model}}

<table optionstable>
	<thead>
	<tr>
	<td style="width:330px;"></td><th paddingright5 width40 >Yes</th><th width40>No</th><th></th>
	</tr>
    </thead>
	<tbody>
	{{#each options as |option index|}}
	
	<tr paddingbottom10 marginbottom10> 
	  <td  paddingbottom15>	  
	  {{option.[0]}}  
	  </td>
	  <td>{{metro-ui/radio class="small-check" checked=(mut (get model option.[1])) name=option.[1] value="true" }}</td>
	  <td>{{metro-ui/radio class="small-check" checked=(mut (get model option.[1])) name=option.[1] value="false" }}</td>
	  <td></td>
	</tr>
	{{/each}}
	</tbody>
</table>


{{yield}}
