<div class="{{layout}}">
    <div class="input-control text " style="border:0px; background-color:transparent; {{style}}" >
	    <b>{{label}}</b>
        <div>{{value}}</div>
        
    </div>
  </div>  
{{yield}}
