
<div style="max-width:850px;">
{{!--
<div style="height:10px; overflow:show; justify-content:flex-end; position:relative; top:-20px;" flex>
<button class="info button "  {{action openmodal}} >{{any buttontext "Add Group"}}</button>
</div>
--}}

<p></p>

{{#each list as |m index|}}
 {{#link-to link (any m.groupname m)  tagName="div"}} 
<div style="border:1px solid #ccc;" addgroup class="padding5 marginbottom10 flex hover cursor"  >

<button type="button" class="btn btn-default" aria-label="Delete" {{action clickremove index bubbles=false}}>
  {{bs-glyph glyph="glyphicon-trash"}}
</button>   


<div vertical-center padding5 flex1>{{any m.groupname m}}</div>
<div class="pull-right width10 vertical-center marginright5 flex0">
 {{bs-glyph glyph="glyphicon-menu-right"}}
</div>
</div>
 {{/link-to}}  
{{/each}}
</div>
{{add-button text=(any buttontext "Add Group") onclick=(action openmodal)}}
{{!-- <button class="info button "  {{action }} >{{any buttontext "Add Group"}}</button>  --}}
{{#bs-modal body=false footer=false title=(any title "Add Group Name") open=openModal}}

{{#bs-modal-footer as |footer|}}
<div>
<div marginbottom5>{{any text "Enter Group Name"}}</div>
{{input value=groupname  autofocus=true}}
<button {{action (combinefunc (action "close" target=footer) (action add groupname))}} class="button">Submit</button>
 </div>
{{/bs-modal-footer}}
  
{{/bs-modal}}
{{confirm-delete open=confirmdelete accept=(action remove)}}
{{yield}}
