{{#div-row}}

<h3>Find Auctioneer</h3>


<div class="input-control text ">
                        
{{input class=" col-xs-7 " value=input }}
</div>
<button {{action search}} class="button primary">Search</button>

{{/div-row}}
{{#each results as |result|}}
<div>
{{facility/auctioneer-search result=result}}

</div>
{{/each}}
{{outlet}}
