<table class="table striped">
	<thead>
		<tr>
		   {{#if unitpage}}
			 <th>Unit Size</th>
			 <th># Units</th>
		     <th>Climate Control</th>  
		  {{else}}
			 <th>Parking Space Size</th>
		     <th># Parking Spaces</th>
		     <th>Covered Parking</th>  
		   {{/if}}
		   <th>
		   {{#if price}}
		   Price of Unit/Month		  
		   {{/if}}		   
		   </th>
		</tr>
	</thead>
	<tbody>
	{{#each model as |size index|}}
   
		<tr> 
		   <td>{{input value=size.Size }}</td>
		   <td>{{input value=size.Quantity type="number" }} </td>
		   <td> 
	
		    <div inline >
	
			{{metro-ui/radio checked=(mut (get size option)) value="true" label="Yes"}}		
			</div>
			<div inline>
	
			 {{metro-ui/radio checked=(mut (get size option))  value="false" label="No"}}	 

			</div>
			</td>
			<td>
            {{#if price}}			
		      {{input value=size.Price type="number" }} 
		    {{else}}
		    
		      <div inline style="visibility: hidden;">
		       {{input type="integer"}}
		      </div>		
		   {{/if}}
		    {{!-- {{bs-glyph glyph="glyphicon-remove" class="pull-right cursor" style="color:grey;"}} --}}
		   </td>
		</tr>

	{{/each}}

	</tbody>
</table>
{{yield}}
