

@media (min-width: 500px) {
	 [menubutton] {
     display: none;
   }
	.customcontainer {
		width: 300px;
	}
	.navbar1 {
	  width: 200px;
	}
}

@media (min-width: 730px) {
	
	.customcontainer {
		width: 500px;
	}
}

@media (min-width: 930px) {
	
	.customcontainer {
		width: 700px;
	}
}
@media (min-width: 1230px ) {
	
	.customcontainer {
		width: 1000px;
	}
}
.customcontainer, .container-fluid {
	   padding-left: 30px;
	}
@media (max-width: 500px) {
   [menubutton] {
     display: block;
   }
	.navbar
	{
		position:absolute;
		left: -500px;
		background-color:white;
	}
	[logoheader] {
	  display:none;
	}
	.navbar a.active::after
	{
	  display: none;
	 // background: transparent;
	}
	.navbar1 {
	 width:0px;
	}
	.customcontainer {
		width: 100%;
	}
	.customcontainer, .container-fluid {
	   padding-left: 7px;
	}
}

