.fullwidth, *[fullwidth]
{
	width:100%;
}
.height100, *[height100]
{
	height:100%; 
}
.relative, [relative]
{
  position: relative;
}


.vertical-center, *[vertical-center] {
	vertical-align: middle;
	align-self: center;
	
}
.notransition, .notransition *, .notransition *:before {
  transition: none !important;
}


[flex1], .flex1 {
  flex: 1 0 20px;
}
[flex0], .flex0 {
  flex-grow: 0;
}
[justify], .justify{
 justify-content:space-between;
}
table {
	width: 100%;
}
.flex , *[flex]
{
	display: flex;
	flex-wrap: wrap;
}
inline, .inline {
  display: inline-block;
}
 
[cursor], .cursor {
  cursor: pointer !important;
}
.hidden, [hidden]
{
  display: none;
}
.text-center {
	justify-content: center;
}
div[w100] {
 display: inline-block;
 width: 100%;
 }
 .h100, *[h100] {
	height: 100%;
}

.inlineblock, [inline]
{
	display: inline-block;
	
}