.projectshadow, [projectshadow] {
  box-shadow: #bbb 1px 1px 1px;
  &:active {
    box-shadow: grey 0px 0px;	
  }
}
.projectborder, [projectborder] { 
border: 1px outset #c1c1c1;//cccd0;//#b2b2b9;//#d8d8d8;
 &:hover {
   border-color: initial;
 }
 &:active {
   border:1px inset #eee;

 }
 
}
[xbutton], .xbutton {
 font-size:1.6em;
 color:@redbuttonbg;
 &:hover {
   color: darken(@redbuttonbg,10%);
 }
 &:active, &.active {
   color: darken(@redbuttonbg,20%);
 }
}
.menubutton1, [menubutton1] { 
  .projectborder;
  border-radius:3px;
  border-width:2px;
  background-color: @greyblue;//@greyblue;//@mainblue;//#dee1e6;
  &:hover {
   background-color: lighten(@greyblue,5%);//@lighterblue;//#eee;
 }
   &:active {
     color: #555;
	// background-color: darken(@greyblue,10%);
   }
 // color: #555;// black;//#ddd;
 color:#222;//#bfbfbf;//#222;//#c2c4c5;//#696c6f;
    font-size: .9em;
    font-weight: bold;
}


.editbutton {
  background-color: @editbuttonbg;
}
.editbutton:active {
 background-color: darken(@editbuttonbg,3%);
}
.redbutton:active {
background-color: darken(@redbuttonbg,3%);
}
 .redbutton {
 border: 1px solid grey;
 
}