.checkbox .check:before {
      height: .4125rem !important;
    width: .765rem !important;
	//transition: none !important;
}


.checkbox.inline {
   margin: 0 !important;
   height: auto;
   min-height: auto;
   line-height: 1;
}
.checkbox.small-check .check:before {
   height: .3125rem !important;
    width: .565rem !important;

}
.checkbox.small-check {
  line-height: 1 !important;
}
@radiosize : 4px;

.radio .check {
 // width: @radiosize;
  //height: @radiosize;
}
.radio .check:before {
      height: @radiosize !important;
    width: @radiosize !important;
	margin-left: -1 * @radiosize / 2 !important;//1 * @radiosize !important;
	margin-top: -1 * @radiosize / 2 !important;// * @radiosize !important;
	//left: 54% !important;
	    border-left: 0 !important;
    border-bottom: 0 !important;	
}

.input-control input + .check:before 
{
   background-color: transparent !important;
   background: transparent !important;
   
}
.radio, [orange] .checkbox
{
   input:checked + .check 
  {
    background-color: @orangeradio !important;
	background : @orangebg;
	&:before {
	  background-color: darken(@orangeradio,50%) !important;
	}
  }
  .check:before {
    transition: none !important;
  }
}
.input-control{ 
&.radio, &.checkbox {
 margin-top:0px !important;
}
}

[orange] .checkbox input:checked + .check
{
  &:before {
   border-color: darken(@orangeradio,50%);
   background-color: transparent !important;
  
   }  
	
}
[orange] .checkbox .check {

  border-radius: 20%;
}

.input-control.radio, .input-control1.radio {
  line-height: 1.1rem;
  height:1.2rem;
  min-height: 1.2rem;
}

