.navbar a.active::after {
	    content: " ";
    /* height: 100%; */
        position: absolute;
    top: 0;
    left: 100%;
    border-top: 30px solid transparent;
    border-left: 23px solid rgb(70,126,169);
    border-bottom: 30px solid transparent;
}
.navbar
{ 
  z-index:10;
  background-color: transparent;
  //margin-right:25px;
  width:200px;
  position: relative;
    top: -1px;
    left: -1px;
}	
.navbar a
{
  &:nth-child(1) {
    margin-top:0px;
  }
  padding-top: 20px;
    padding-bottom: 20px;
   display: block;
	display: flex;
    align-items: center;
    justify-content: center;
	background-color:@mainblue;
	color:white;
	position:relative;
	height: 60px;
	margin:3px 0px;
	width:100%
} 