a {
 color: @mainblue;
}
body {
  font-family: arial,sans-serif,serif;
}
body > div[class] {
  height: 100%;
}
.button.info:active {
    background: #1b6eae;
}
.redbutton {
background-color: @redbuttonbg; //#fb2b2b; // rgba(243, 0, 0, 0.73);
 //#fb2b2b; 
 
}
[addgroup] {
  font-weight:bold;
  color: #555;//@mainblue;
  font-size:1.2em;
  background-color: #f1f1f1;
  &:hover {
    text-decoration: underline;
  }  
  button {
    background-color: #f9f9f9;  
  }
}
.panel-heading:hover {
  cursor: pointer;
  background-color: #eee;
}

.input-control {
 input, textarea, select, .input, [input] {
    border: 1px solid #d9d9d9;
    width: 100%;
    height: 100%;    
	&:focus, &:hover {
	       border-color: #787878;
	}
	input, textarea, select, .fp-clock {
	  padding: .3125rem;
	}
  }
}
.input-file-wrapper {
  cursor : pointer !important;
}
div.hours {
   min-width: 210px;

}
[timerange] {

}
[inputfield] label
{
  margin-bottom: 0px;
  margin-top: 5px;
}
.info.button {
  background-color: @lighterblue;
  border-color: @lighterblue;
} 
h3 {
color: @mainblue;

font-size: 1.5em;
margin-bottom:25px;
}
label {
  color: @darkerblue;
  font-size: .9em;
}
[facilityprofile]  {
 h4 {
  font-size: 1.1em;
  font-weight: bold;
  }
  .borderedgrey	 label {
    font-size: .97em;
  }
  .borderedgrey {
    background-color: #f3f3f3;
	label {color: black;font-weight: 500;font-family: arial;}
  }
}
.popover {
  width: 300px !important;
}
button.button.grey {
  background-color: #eee !important;
  &:active {
     background-color: #ddd !important;
  }
}
.info.blue {
  background-color : @lighterblue;
}
.popover {
    padding: 0;
	background-color:white;
	}
[hover]:hover, .hover:hover
{
  background-color: #f5f5f5;
}
[hover]:active, .hover:active
{
    background-color: #f0f0f0;
}

div[inputfield]
{
  padding-right: 30px;
}
form.modal-footer
{
  display:flex;
  justify-content: center;
  text-align:left;
}
.pull-right {
  
}

[optionstable] td {
@media (min-width : 990px) {
	height: 30px;
	}
}
 
input[type="textarea"] , .textarea textarea
{
  clear:both;
  min-height: 60px !important;
}
[type="timerange"]
{
   .fp-container {
     width: auto !important;
	 font-size: .88em;
	 
   }
   .fp-clock {
     margin-left: 0px;
   }
}
.fp-clock {
padding: .3125rem 0 .3125rem .2rem;
}

textarea {
 margin-bottom:10px;
}
p {
	margin-bottom:15px;
}
.row {
	margin-left: 0px;
	margin-bottom: 20px;
	clear:both;
}


.row div:not(".popover div") {
	padding-left: 0px;
}
div[class*="-block"]
{
	clear:both;
}

table td
{
	vertical-align:top;
}




div[advertise] label {
	font-weight: normal;
}
button.button
{
	height: 2.125rem;
	
	margin: .325rem 0;

} 
[facility-auctions] .borderedgrey {
 padding-bottom: 10px;
}
[facility-auctions] .input-control b {
   color: #666;
 // font-weight: 500;
}

.border, .border:focus {
 border: 1px solid #aaa !important;
}
.borderedgrey {
	background-color:#f3f3f3;
	padding:10px 0px 10px 30px ;
	border:1px solid #c3c3c3;
	display: block;
	display: flex;	
	flex-wrap: wrap;
	width: 100%;
	margin: 0 10px 20px 0px;
}
div[facilityprofile] .borderedgrey {
  padding-bottom: 20px;
}
div[auctioneeredit=""] 
{ 
  b, label{
  color: @darkgrey;
  font-weight:bold;
  font-size: 13px;
  }
}

.collapsed h4.panel-title:after {
  content: "▼";
}
h4.panel-title:after {  
     content: "";  
    font-size: .7em;
    color: rgba(0,0,0,.2);
    position: relative;
    top: 1px;
}