[class*="col-"] {
 padding-left: 0px;
 
}
.size1(@selector, @n, @cssselector) {
    .@{selector}, *[@{selector}] {
	  @{cssselector} : @n !important;
	}
}
.size(@n) when (@n <= 50) {
    @m : @n * 1px;
	@padding : ~"padding@{n}";
	@paddingleft : ~"paddingleft@{n}";
	@paddingright : ~"paddingright@{n}";
	@paddingbottom : ~"paddingbottom@{n}";
	@paddingtop : ~"paddingtop@{n}";
	@margin : ~"margin@{n}";
	@margintop : ~"margintop@{n}";
	@marginbottom : ~"marginbottom@{n}";
	@marginright : ~"marginright@{n}";
	@marginleft : ~"marginleft@{n}";

	.size1(@padding, @m, padding);
	.size1(@paddingleft, @m, padding-left);
	.size1(@paddingright, @m, padding-right);
	.size1(@paddingtop, @m, padding-top);
	.size1(@paddingbottom, @m, padding-bottom);
	.size1(@margin, @m, margin);
	.size1(@marginleft, @m, margin-left);
	.size1(@marginright, @m, margin-right);
	.size1(@margintop, @m, margin-top);
	.size1(@marginbottom, @m, margin-bottom);
	
	.size(@n + 5);
}

.size(0);

.sizewidthp(@n) when (@n <= 100)
{
    @m : @n * 1%;
    .size1(~"widthp@{n}", @m, width);
    .sizewidthp(@n + 5);
}
.sizewidthp(5);

.sizewidth(@n) when (@n < 500)
{
  @m : @n * 1px;
  .size1(~"width@{n}", @m, width);
  .sizewidth(@n + 10);
}
.sizewidth(10);

