.tabcontrol .tabs li a {
    background-color: #fff;
	margin:5px 0px 5px 0px;// 5px 0px;
	border-radius:0px;
}
.tabcontrol .tabs li.active a {
  background-color: @lighterblue;//lighten(@mainblue,20%);
  text-shadow: none;
}
.tabcontrol .tabs {
border-bottom-color:  #ccc;//#999;//@lighterblue;//
//border: 0px;
}
.tabcontrol .tabs li a {
  
    font-size: .7875rem;
    font-weight: 600;
	}