
[units] {
	h4 {
	 margin-bottom: 0px;
	}
  table {
	 margin-bottom: 25px;
	margin-top: 0px;
	 input[type="text"], input[type="number"], input[type="integer"]{
		   width: 100%;//70px;
		   max-width: 150px;
		   min-width: 45px;
		}
		
		//td { width: 20%;}
		td:nth-child(2) input {width: 80%;}
		td:nth-child(4) input { width: 60%;}
		td:nth-child(1) input {min-width: 60px;}
		@media (max-width: 350px) {
		  td, th { padding: 8px 4px !important;}
		  td div[style]{display: none;}
		}
		
	}
}