
@mainblue : #467ea9;
@lighterblue : #1ba1e2;//lighten(@mainblue,30%); 

@darkerblue : darken(@mainblue,20%);//#555567;//darken(@mainblue,40%);
@orangeradio: rgb(247, 120, 70);
@greyblue :  #e1e5e8;//#d2d9dd;//#c4ccd2;//rgb(137, 137, 150);//rgba(181, 182, 193, 0.8);//#b5b6c1;//#9eb9d4;//#8caccc;//#b9c8d4;//#dee1e6;// #696c75;
@darkgrey : #464646;
@grey : #7b7b7b;//#97989a;
@orangebg : radial-gradient(ellipse 120% 90% at center 30%, #f7a17f 0%, #ff9b74 30%, #f77846 40%, #e46c25 90%);
@editbuttonbg : #f0f0f0;//#f8f8f8;//#ddd;
@redbuttonbg: #bba59c;//#c5b9b4;//rgb(197, 180, 180);//rgba(159, 96, 96, 0.3);//hsla(0, 25%, 50%, 0.54);//rgba(210, 86, 86, 0.97);//rgba(253, 58, 58, 0.69);//rgba(243, 19, 19, 0.69);//#f19898;
@auctioneerlistingwidth : 850px;

.auctioneerlistingwidth, [auctioneerlistingwidth] {
  max-width: @auctioneerlistingwidth;
}
[redcolor], .redcolor {
color: @redbuttonbg;
}
.darkgreytext, [darkgreytext] {
 color: @darkgrey;
}
.greyblue, .bluegrey
{
  background-color: @greyblue;
}
.lightgrey, [lightgrey]
{
   background-color: #f9f9f9;
}
.grey1 {
  background-color: @grey;
}
.grey1:active {
 background-color: @grey;
}
[mainblue] , .mainblue{
  color: @mainblue;
}
.fg-white {
 color: black !important;
}