<div class="input-control file cursor {{layout}}" style={{style}} data-role="input">
    <input type="file" class="" name={{inputname}}>
    <button class="button"><span class="mif-folder"></span></button>
</div>
{{yield}}
