<h3>{{if edit "Edit Profile" "Auctioneer Profile"}}</h3>

<div auctioneeredit="{{if edit "1" ""}}" auctioneerlistingwidth>
{{#bs-accordion selected="1"}}
     {{#bs-accordion-item value="1" title="Profile info"}}
	<div class="flex">
	  <div width100 marginright20 marginbottom10>
	  {{#if edit}}
	  {{image-upload model=model.img }} 
	  {{else}}
	  <img src={{any model.img "/images/add_logo.png"}} />
	  {{/if}}
	  </div>
	  <div class="visible-xs-block widthp100"></div>

	  <div style="flex-basis:20px; flex-grow:1;">  
	  
	   {{input-group component=component layout="col-xs-12 col-sm-6 col-md-4" fields=inputs1 model=model}}  
	  </div>
	</div>
	{{#div-row}}
	  
	  {{input-group component=component layout="col-sm-6 col-md-4" fields=inputs2 model=model}}
	{{/div-row}}
 {{/bs-accordion-item}}
 {{/bs-accordion }}
{{#bs-accordion }}
     {{#bs-accordion-item value="1" title="Auctioneer Type"}}
       <div>
		{{#each auctioneertype as |a|}}
		<div marginright10 marginbottom10 style="">
		 {{metro-ui/radio value=a.[1] label=a.[0] labelafter=1 checked=model.AuctioneerType}}	
		</div>
		{{/each}}
	  </div>   
	  {{/bs-accordion-item}}
	  	
		
 {{/bs-accordion}}
{{!--	<h5 borderbotttom>Auctioneer Type</h5> --}}
   <div margintop15>
	{{#bs-accordion }}
     {{#bs-accordion-item value="1" title="Licenses"}}
		<inline style="vertical-align: top; margin-top: 12px;">
		<label># Licenses</label>
		{{#if edit}}
		{{metro-ui/input onchange=(action changelicense) type="number" value=model.TotalLicenses  layout="width100 inline" }}
		{{else}}
		  
		{{input-field type="number" value=model.TotalLicenses  layout="width100 inline" style="vertical-align: 0px;" }}
		{{/if}}
		</inline>
		<inline>
		{{#each model.Licenses as |l|}}
		  
		  <div>
		  {{input-group component=component fields=licensesinput model=l layout="col-xs-6"}} 
		  </div>
		  {{!-- input-group fields=licenses model=model layout="col-xs-6"}}  --}}
		{{/each}}
		</inline>
	{{/bs-accordion-item}}
 {{/bs-accordion}}
 </div>
 </div>



	
	


{{yield}}
