{{#metro-ui/input label="Select Country" type="select" layout=layout}}
<select data-validate-func="required" id={{options.id}} class="crs-country {{if layout layout ''}}"  data-region-id={{options.regionid}} data-whitelist="CA,US,GB,AU">
</select> 
{{/metro-ui/input}}
{{#metro-ui/input label="Select State" type="select" layout=layout}}
<select id={{options.regionid}} data-validate-func="required" >
</select>
{{/metro-ui/input}}
{{yield}}
