<div class="margintop20 marginbottom30 tabcontrol" data-role="tabcontrol">
    <ul class="tabs">
        <li class="{{if unitpage "active"}}" ><a href="#" onclick={{action 'units'}} >Advertise Vacant Units</a></li>
        
        <li class="{{if (not unitpage) "active"}}"><a href onclick={{action 'parking'}}>Available Parking Spaces</a></li>
    </ul>
   
</div>

{{!--
<div>
<button class="button primary">Advertise Vacant Units</button>
<button {{action 'parking'}} class="button primary">Available Parking Spaces</button>
</div>
--}}

<div h100>

	{{metro-ui/input value=modeltemp.TotalUnits type="number" label="Total # Units" required="required"}}
	{{metro-ui/input value=modeltemp.TotalDiffUnitSizes onchange=(action changesize) type="number" label="# Different Unit Sizes" }}
</div>

<div w100 units>

	<h4>Facility Units</h4>
	{{facility/units-table unitpage=unitpage price=1 model=modeltemp.FacilityUnits}}

	<p></p>

	<h4>Units Available for rent</h4>
	{{!--
	<button {{action add}}>Add</button>
	
	--}}
    {{facility/units-table unitpage=unitpage model=modeltemp.AvailableUnits}}
	

</div>


{{metro-ui/checkbox class="small-check" label="Display pricing information to potential customer" checked=modeltemp.DisplayPriceStatus }}

<div>
<button class="button success" value="Submit"  >Submit</button>
</div>

{{outlet}}


