<div onchange={{action change1}} class="input-control text full-size" data-role="datepicker">
    <input type="text">
    <button class="button"><span class="mif-calendar"></span></button>
</div>
{{yield}}
