<h3>Advertise Available Storage Units</h3>

<p></p>
<h4>Card Details:</h4>
<div w100>
{{input-group fields=card model=model}}
</div>
<p></p>
<br/>
<h4>Billing Address:</h4>
<div w100>
{{input-group fields=billing model=model}}
</div>
<p></p>
{{submit-button "Next" model  'user.facility.advertise.units' model.facility}}

