<table optionstable>	
	<tbody>
	{{#each options as |option index|}}
	{{#if option.[1]}}
	<tr> 
	  <td>	  
	  <img src="images/{{option.[1]}}.png" >	
	  </td>
	  <td>{{option.[0]}}</td>
	</tr>
	{{/if}}
	{{/each}}
	</tbody>
</table>
{{yield}}
