
<div  flex auctioneerlistingwidth marginright10>
<h3 marginbottom0>Auctions</h3>
<div flex1></div>
<div paddingtop20 marginbottom10>
{{#link-to "user.auctioneer.auctions.createauction" tagName="inline"}}
<button  marginright10 class="button lightgrey  menubutton1">Add Auction Listing Individually</button> 
{{/link-to}}
<inline>
{{#link-to "user.auctioneer.auctionupload" }}
<button  class="button lightgrey menubutton1">Bulk Upload (Excel)</button> {{/link-to}}
</inline>
</div>
</div>

{{!-- <h4>Auction Listings</h4>  --}}
{{auctioneer/auction-listings AuctionListings=model.AuctionListings }}
{{outlet}}
