<h3>Email Preferences Screen</h3>
{{input type="email" placeholder="Enter Email Address" value=model.email name="email"}}
{{submit-button}}
{{input type="checkbox" label="All Mailings" value=model.allmail}}
{{input type="checkbox" label="Self Storage News" value=model.news}}

{{outlet}}
