<div class="im image-container" class="{{layout}}" style="{{if (not layout) 'width:100px;height: 100px;' style }} cursor:pointer; position:relative;" >
  <img src={{if src src (any defaultsrc "/images/add_picture.png") }} name={{name}} class="scale" data-scale="best-fill" data-align="center" style="cursor:pointer;">
</div>

<input type="file" name={{name}} style="display:none;">



{{yield}}
