<h3>Auctioneer Storage Facility Groups</h3>

{{add-group buttontext="Add Group" title="Add Group Name" text="Enter Group Name" link="user.auctioneer.groups.group" list=model.groups createobj=(action addgroup)}}





{{outlet}}
