<h3>Home</h3>
{{#div-row}}
<div class="col-md-6">
 <div>
  <h4 class="blue">My Favorite Auctions</h4>
  {{#each model.favoriteauctions as |auction|}}
  {{#div-row}}
    {{auction-listing auction=auction}}
  {{/div-row}}
  {{/each}}
 </div>
 <div>
  {{links-leins}}
 </div>
</div>
<div class="col-md-4 col-md-offset-2">
{{rss-feed}}
</div>




{{/div-row}}
{{outlet}}
