<button {{action onclick }} class="button marginbottom20 grey" >
   {{bs-glyph glyph="glyphicon-plus" style="font-size: .7em; color: grey; padding-right: 4px; vertical-align: 16%;margin-left: -7px;"}}
  {{text}}
  </button>
{{yield}}
