
<div inputfield class={{any layout 'col-xs-12 col-sm-6 col-md-4'}}>
<label class="block">{{label}}</label>
  {{#if (eq type "select")}}
        <div class="input-control full-size select">
	  {{yield}}
		{{#if (not hasBlock)}}
		<select name={{name}} >
		     {{#each selectoptions as |option|}}
			  <option value={{option}}>{{option}}</option>
			 {{/each}}
		</select>
		{{/if}}
		{{bs-glyph class="input-state- display clickbelow" style="display:inline-block; pointer-events:none; font-size:.5em;margin-top:-4px;z-index:2;" glyph="glyphicon-triangle-bottom"}}
	</div>
  
  {{else if (eq type "textarea")}}
      <div class="input-control full-size textarea">
	   {{textarea rows="3" disabled=disabled name=name  value=value}}
	  </div>
  {{else if (all (eq type "date") (not html5date))}}     
       {{metro-ui/date value=value}}
  {{else}}
      <div class="input-control full-size text">
       {{#if (all (eq type "time") (not html5time))}}
    
          {{time-input id=name value=value}}
				
        {{else if (eq type "timerange")}}
           {{time-range id=name value=value}}
        {{else}}
         
          {{input type=(any type "text") change=onchange disabled=disabled name=name  value=value}}
          {{log value}}		  
       	
		 {{/if}}
		<span class="input-state-error mif-warning"></span> 
	  </div>
  {{/if}}
 

</div>

