
{{#each fields as |field|}}

{{component (any field.[2].component component 'metro-ui/input')
 layout=(if (eq field.[2].type "textarea") "col-xs-12" layout) 
 style=style
 disabled=disabled 
 options=field.[2]
  value=(mut (get model field.[1]))  
 model=model 
 placeholder=(any field.[2].placeholder "") 
 validate=(if (any field.[2].optional optional) "" (any field.[2].validate "required"))
 type=(any field.[2].type type "text") 

 name=field.[1] 
 label=field.[0] 
 
 }}

{{/each}}
{{yield}}
