

<inline style="display:inline-block;" input type="timerange" id={{id}}></inline>
<div style="position:absolute;right:5px;top:10px;" {{action destroy}}>
<abbr title="closed">
{{bs-glyph glyph="glyphicon-remove" class="pull-right cursor" style="color:grey;"}} 
</abbr>
</div>
 {{!-- <button inline onclick="return false;" class="button">{{bs-glyph glyph="glyphicon-time"}}</button>
 --}}
{{!--
<div inline  name={{id}} style="position:absolute; font-size:.8em; right:20px; top: 5px; " onclick="">
 {{metro-ui/checkbox label="closed" class="small-check"}}
 </div> 
--}}
{{yield}}
