

 <tr style="border:1px solid black;">
   {{#each fields as |field|}}
    <td>
	  <p>{{field.[0]}}</p>
     {{any (get listing field.[1]) (get listing.facilityprofile field.[1])}}
	</td>
   {{/each}}	
   <td>     
     <button class="red" {{action remove listing}} >Delete</button>  
	</td>
	{{#link-to 'auction' listing class="height100 vertical-center paddingleft10" tagName="td"}}
      {{bs-glyph "glyphicon-menu-right"}}
   {{/link-to}}
 </tr> 
 <tr style="height:10px;"></tr>

{{#div-row}}

<div class="col-xs-7">
{{#each listing.excelfields as |field|}}
<div class="col-sm-2 col-xs-4">
  <p>
   {{field.[0]}}
  </p>
  <div>
    {{any (get listing field.[1]) (get listing.facilityprofile field.[1])}}
  </div>
</div>
{{/each}}
</div>

<button class="red col-xs-2" {{action delete listing}} >Delete</button>
{{#link-to "auction" listing}}
{{bs-glyph class="col-xs-1" glyph="glyphicon-menu-right"}}
{{/link-to}}
{{/div-row}}

{{yield}}
