{{#each AuctionListings as |listing index|}} 
<div flex>
<div class="row borderedgrey" marginbottom10 style="" auctioneerlistingwidth paddingright20  flex1  > 
 {{input-group component="input-field" style="width:9em; margin-right:15px;" fields=auctionfields model=listing disabled="true"}}
 
  {{!-- grey1 --}}
  <div flex1="" flex="" style="justify-content:flex-end;">
	<button {{action editlisting listing}} marginright5 class="button editbutton">Edit</button>
     {{#if (not excel)}}
	<button {{action end1 listing}} style="color: black !important;" class="  redbutton  button
	fg-white">End</button>
	{{else}}
	  <inline {{action end1 listing}} cursor xbutton vertical-center marginleft10 >
         {{bs-glyph glyph="glyphicon-remove"}}
	  </inline>
	{{/if}}
  </div>
 

</div>
</div>

{{else}}

{{/each}}

{{confirm-delete open=openModal msg=(concat "Confirm Delete of Auction:" currentlisting.ListingNo) accept=(action end currentlisting)}}


{{yield}}
