<h3>Edit Profile</h3>
<div facilityprofile>
<div  inline widthp100  >
  <div class="col-md-12 col-lg-4 paddingright10">
     <div flex>
	   <div class="pull-left flex0 marginbottom5 marginright10 ">
	     {{image-upload model=model.img }} 
	   </div>
	   <div class="flex1  paddingright0  ">
	   <div widthp100 inline>
	   {{metro-ui/input layout="col-sm-5 col-lg-12" value=model.FacilityName label="Facility Name"}}
	   </div>
	   {{metro-ui/input layout="col-sm-5 col-lg-12" value=model.StoreNo label="Store #"}}
	   </div>
	 </div>
  </div>
  <div class="col-md-12 col-lg-8 col-xs-12" >
  <h4 paddingtop10>Address Information</h4>
   <div class="borderedgrey">      
     {{input-group fields=inputs.address model=model required="1" }}      
	 </div>
  </div>
</div>
<h4 paddingtop0 marginttop0>Contact Information</h4>
<div class="row borderedgrey" >

{{input-group fields=inputs.contact model=model required="1"}}
{{input-group fields=inputs.login model=model required="1"}}
</div>
<h4>Optional Facility Information</h4>
<div class="row borderedgrey" >

{{input-group fields=inputs.facilityoptional model=model }}
</div>

{{submit-button "Save & Next"  model.user.facility.options "user.facility.profile.options"}}
</div>
{{outlet}}
