<label class="input-control checkbox small-check {{layout}} ">
 <span class="caption">{{label}}</span>
    {{input type="checkbox" checked=checked}}
	
    <span class="check"></span>
   
</label>
{{yield}}
