
{{log model.StartTime}}
{{input-group layout="col-sm-4 col-md-3" fields=main model=model}}
{{#if model.auctioneer }}
 {{input-group layout="col-sm-3" fields=inputs.StorageFacilityName model=model}} 
{{/if}}
{{#if (eq model.AuctionType "online")}}
  {{input-group layout="col-sm-6" fields=inputs.WebSite model=model}}
{{else}}

{{#div-row}}
  {{#each model.inputs.img as |img|}}
   {{image-upload model=(get model img.[1]) defaultsrc="images/add_picture.png" label="Add Picture"}}  
   {{else}}
    {{image-upload model=(get model img.[1]) defaultsrc="images/add_picture.png" label="Add Picture"}}  
	{{image-upload model=(get model img.[1]) defaultsrc="images/add_picture.png" label="Add Picture"}}  
	{{image-upload model=(get model img.[1]) defaultsrc="images/add_picture.png" label="Add Picture"}}  
 {{/each}}
{{/div-row}}

{{/if}}

{{#if buttons}}
<div class="inline" paddingright10>
<button {{action (back)}} class="button">Back</button>

{{submit-button "Save"}}
</div>
{{/if}}

{{outlet}}
