<h3>Storage Facility Options</h3>

{{#div-row hours1}}
	 <h4>Operational Hours:</h4>
	 
	 {{input-group fields=hours required="1" model=model layout="col-sm-4 col-md-3 hours" type="timerange"}}

{{/div-row}}

<h4>Facility Options:</h4>
{{log options}}
{{#div-row}}
<div class="col-md-6 ">
	
	{{#if edit}}
	{{facility/facility-options model=model.options options=(subarray options 0 10)}}

	{{else}}
	{{facility/facility-options2 model=model.options options=(subarray selectedoptions 0 7)}}
	{{/if}}
</div>
<div class="col-md-6 marginbottom30">
	
	{{#if edit}}
	{{facility/facility-options model=model.options options=(subarray options 10 25)}}
	{{else}}
	{{facility/facility-options2 model=model.options options=(subarray selectedoptions 7 25)}}
	{{/if}}
</div>	

{{/div-row}}



<div cardtypes orange flex>
  <span marginright20>
	Credit Cards Accepted:
	</span>
	{{input-group component="metro-ui/checkbox" layout="marginright20" fields=cardtypes model=model}}
	
</div>

{{#div-row}}
    {{input-group fields=other model=model}}
{{!--	
   {{metro-ui/input label="Move In Specials" name="moveinspecial" value=model.moveinspecial }} 
	{{metro-ui/input label="Associated Webpage Address" name='url' type='url' value=model.url }} 
	
	--}}

{{/div-row}}


{{#submit-button "Save & Next" window.model.details.about "user.facility.profile.options2" window.model.details.about}}
Save & Next
{{/submit-button}}

{{outlet}}
