<h3 marginbottom30>Storage Facility Auction Rules</h3>


{{!-- 
<button class="button grey"   marginbottom20>Send </button>
--}}


<div widthp100 inline marginbottom10>
{{#inline-div style="margin-bottom:5px;"}}
<span style="vertical-align:top;">
Auctioneer to set rules 
</span>
{{metro-ui/checkbox checked=model.AuctioneerSetRules class="small-check inline"}}
{{/inline-div}}

<div class="col-sm-8">
	
	  {{#inline-div style="margin-bottom:10px;"}}	
	  Enter Auctioneer's email address:
	  {{/inline-div}}
	  {{#inline-div style="margin-top:-20px;"}}
	  {{metro-ui/input type="email"  layout=" " value=model.auctioneerEmail}}
	  {{/inline-div}}
	  
     </div>
	
</div>

{{auction/auction-rules model=model}}


<button {{action 'save'}} class="button success">Submit</button>
{{outlet}}
