
{{yield}}
<label class="input-control radio small-check {{layout}}">
   {{#if (not labelafter)}}
   <span class="caption">{{label}}</span>
   {{/if}}
    {{radio-button checked=(mut checked) value=value id=id}}
    <span class="check"></span>
	{{#if labelafter}}
	<span class="caption">{{label}}</span>
	{{/if}}
    </label>