<h3>Storage Facilities Additional Info</h3>
{{#div-row}}
{{image-upload label="Add Storage Facility Picture" src="images/AddSfPicture.png" layout="width110 marginright20" style="height:110px;"  value=model.FacilityPicture}}
<inline style="vertical-align:top;">
{{metro-ui/input label="Years in Business" layout="width200 inline paddingtop10 " type="number" value=model.YearsinBusiness }}
</inline>
{{/div-row}}
{{#div-row}}
{{input-group fields=fields model=model type="textarea" layout="col-sm-12" }}
{{/div-row}}
{{submit-button "Save & Next" model "user.facility.auctions"}}
{{outlet}}
