<h3>Find Storage Facility Auctions & View Available Storage Units</h3>
<div class="row">
{{metro-ui/radio value="Auctions" label="Auctions" labelafter=1 checked=search}}	
{{metro-ui/radio value="Units" label="Available Units" labelafter=1 checked=search}}	
</div>
<div class="row">
 {{metro-ui/input type="text" label="Enter Postal Code" value=post name="post"}}
 {{metro-ui/input type="select" label="Select Radius" selectoptions=radiusoptions value=radius name="radius"}}
 {{#if auction}}
 {{input type="select" label="Select Day" value=day name="day"}}
 {{/if}}
</div>
<div class="row">
{{#each results as |result|}}



{{else}}
  No records found for the search criteria.
{{/each}}
</div>
{{!--
{{rss-feed}} 
--}}
{{outlet}}