<h3 mainblue>
    {{model.groupname}} 
	 <span style="font-size:.6em;" cursor marginleft15>
         {{link-to "storage facility groups" "user.auctioneer.groups"}} &gt;&gt; <a initialcolor onclick="return false;">{{model.groupname}}</a></span></h3>
{{add-group buttontext="Add Storage Facility" title="Add Storage Facility" text="Enter Storage Facility Name" link="user.auctioneer.groups.group" list=model.facilities}}


{{outlet}}
