<h3>Advertise Available Storage Units</h3>
<p></p>
<div advertise>
<p margintop20><b>Type  of Advertisement:</b></p>


{{metro-ui/radio value="Banner" label="Banner" name="adtype" checked=model.TypeofAdvertisement}}
{{metro-ui/radio value="Simple" label="Simple" name="adtype" checked=model.TypeofAdvertisement}}

<p margintop10>
<b>Duration:</b>
</p>


{{metro-ui/radio value="Month" label="Month to Month" checked=model.Duration}}

{{metro-ui/radio value="Year" label="Yearly (Reduced Rate)" checked=model.Duration}}
<p></p>
"Email ID for reminders"
{{input label="Email ID for reminders" value=model.EmailID }}
</div>
<p></p>
{{submit-button "Next" model 'user.facility.advertise.payment' }}
{{link-to "I choose NOT to advertise" "facility" model.facility}}


{{outlet}}
