<table class="padding10 fullwidth marginbottom10" style="max-width:800px;" >
  <tr  class="border" >
	  <td width100 padding5>
		  <img class=" hidden-xs  " data-format='square' src={{any result.img '/images/add_logo.png'}} width100 height="100" style="min-width:70px;" >
		   <img class=" visible-xs-inline "  width70 style="min-width:70px;" src={{any result.img '/images/add_logo.png'}} height="70">
	  </td>
	  <td><div class="hidden-xs"  paddingleft20></div></td>
 
  
	  <td padding5>
		 <h4 mainblue >{{link-to result.profile.CompanyName "user.facility.find-auctioneer.result" result._id }}</h4>
		  <div>
			 {{#each address as |field|}}	  
		  
			   <div inline style="min-width:130px;" class="col-xs-3 paddingbottom10">
				 <p> <b>{{any field.[0] field.[1]}} </b>{{get result.profile field.[1]}} </p>	   
			   </div>
			 {{/each}}
		 </div>
		 
		</td>
		<td  style="width:30px; " vertical-center cursor hover  {{action linkto1 "user.facility.find-auctioneer.result" result._id}}  >
		 
		
		<div height100 h100 hover class="pull-right" marginright10 style="color: grey;">
		
			 <span style="color:grey;">{{bs-glyph glyph="glyphicon-menu-right"}}</span>
		
       </div >		 
	   
		</td>
  </tr>
</table>

{{yield}}
