<label class="input-control checkbox {{class}}">
    <!-- <input type="checkbox" checked> -->
	{{radio-button   name=(any label value) checked=checked value=(any label value) }}
    <span class="check"></span>
    <span class="caption">{{label}}</span>
</label>
<span></span>

{{yield}}
