{{#each AuctionListings as |listing index|}}
<div class="row borderedgrey">
 <div widthp100="" marginbottom10 style="margin-left: -15px;font-size: 1.1em;" >
 <b>Listing #: {{listing.ListingNo}}</b>
 </div>
 {{input-group component="input-field" fields=auctionfields model=listing disabled="true"}}
 <div vertical-center widthp100 style="display: flex; justify-content: space-between;flex-grow: 1;margin-right: 35px; ">
  {{!-- grey1 --}}
	<button {{action editlisting listing}} marginright20 class="button  fg-white">Edit</button>

	<button {{action end1 listing}} style="color: black !important;{{!-- background-color: #d03630; --}}" class="  small-button  button fg-white">End</button>

 </div>

</div>

{{!-- {{sf/facility-auction listing=listing}} --}}

{{else}}
<div class="borderedgrey text-center padding10" style="color:red;">
No Listings
</div>
{{/each}}

{{confirm-delete open=openModal msg=(concat "Confirm End of Auction:" currentlisting.ListingNo) accept=(action end currentlisting)}}
{{yield}}
