<div menubutton ><button type="button" {{action menuclick}} class="btn btn-default" aria-label="Menu">{{bs-glyph glyph="glyphicon-th"}}</button></div>
<div logoheader style="border-bottom:2px solid black;">
<img src="images/storage-droid-logo.png" width="170" margin10 />
</div>
<table height100>
<tr>
<td class="navbar1" style="background-color:#eee;" >
<div  class="navbar padding0 text-center">
{{log model}}
{{#if model.auctioneer}}


{{link-to "Home" "user.auctioneer.index" }}
{{link-to "Edit Profile" "user.auctioneer.profile"}}
{{link-to "Auctions" "user.auctioneer.auctions"}}
{{link-to "Add Multiple Auctions" "user.auctioneer.auctionupload"}}



{{link-to "Set Auction Rules" "user.auctioneer.rules" }}
{{link-to "Storage Facility Groups" "user.auctioneer.groups" }}

{{!--
{{link-to "Email Preferences" "user.auctioneer.options" }}
--}}
{{else if model.user}}

 {{link-to "Home" "user.user.index" }}
{{link-to "Edit Profile" "user.user.profile"}}
{{link-to "View Auction Listings" "user.user.auctions" }}
{{link-to "Find Storage Facility Units" "user.user.units"}}


{{link-to "Email Preferences" "user.user.options" }}



{{else if model.profile.FacilityName}}

{{link-to "Home" "user.facility.index" }}
{{link-to "Edit Profile" "user.facility.profile"}}
{{link-to "View and Create Auction Listings" "user.facility.auctions"}}
{{link-to "Advertise Units" "user.facility.advertise"}}

{{link-to "Set Auction Rules" "user.facility.rules" }}

{{link-to "Find Auctioneer" "user.facility.find-auctioneer" }}

{{/if}}
</div>
</td>
<td class="">
<div class=" custom container-fluid" marginbottom50>
<form id="appform" onsubmit="return false;" {{!-- data-role="validator" --}} data-on-submit="return false" novalidate="novalidate" data-show-required-state="false">




{{outlet}}
</form>
</div>
</td>
</tr>
</table>


