<h3>Add Listings Via ExcelSheet</h3>

<div id="v" >

	<form action={{uploadurl}} method="post" id="upload" >
    <div><a class='mainblue' href='/StorageFacilities.xlsx'>Download Excel Template</a></div>	
		<div flex>
			{{metro-ui/file placeholder="Add excel file" inputname="uploadexcel" layout="flex1 width200" style="flex-basis: 200px;flex-grow:.5; max-width:300px;"}}
           
			{{#hover-over}}
				<div style="position:relative;width:40px; height:30px;" marginright5>
				<div style="position:absolute; width:30px; height:30px;">
				<img src="/images/Help.png" cursor  marginleft10 margintop5 style="color:blue;font-size:2em;width:30px;height:30px;" id="q"   data-html="true" data-toggle="popover" data-placement="right auto" data-trigger="hover"  title="ExcelSheet" data-content="Column order: 1)Facility Name, 2)Auction Start Date, 3) Auction Start Time, 4)Auction End Time, 5)Additional Info, 6)Locktag Id" data-popover-background="bg-blue"/>
				</div>
				</div>
				<div flex style="justify-content:flex-end;">
				<button type="submit"    class="button small-button grey projectborder  " style=""    onsubmit={{action submit}}>Upload</button>
				</div>
			{{/hover-over}}
			<!-- 
			<div flex0 width400></div>
			-->
			 
		</div>
    
	<div>
	

	</div>
	</form>


</div>

<div class="row hidden-xs">

</div>
<div style="border-bottom: 1px solid #ccc9c9;" marginbottom10 margintop20>
   <div auctioneerlistingwidth relative marginright30>
     <b>Uploaded Listings</b> 
     <button class=" button menubutton1 " style="position:absolute; right: 0px; top: -28px;" {{action golive}}>Go Live</button>
   </div>
</div>
<div marginright20>


     {{auctioneer/auction-listings AuctionListings=model.ExcelUpload excel=1 }}
	{{!-- auction/list-auctions AuctionListings=testexcelresults --}}
	{{#each model.listings as |listing|}}

	{{else}}

	{{/each}}
	<table style="border-collapse:collapse;">
	</table>
</div>
{{!--

--}}
{{outlet}}
