.darkgreytext,
[darkgreytext] {
  color: #464646;
}
.greyblue,
.bluegrey {
  background-color: #696c75;
}
.grey1 {
  background-color: #7b7b7b;
}
.grey1:active {
  background-color: #7b7b7b;
}
[mainblue],
.mainblue {
  color: #467ea9;
}
.fg-white {
  color: black !important;
}
[class*="col-"] {
  padding-left: 0px;
}
.padding0,
*[padding0] {
  padding: 0px !important;
}
.paddingleft0,
*[paddingleft0] {
  padding-left: 0px !important;
}
.paddingright0,
*[paddingright0] {
  padding-right: 0px !important;
}
.paddingtop0,
*[paddingtop0] {
  padding-top: 0px !important;
}
.paddingbottom0,
*[paddingbottom0] {
  padding-bottom: 0px !important;
}
.margin0,
*[margin0] {
  margin: 0px !important;
}
.marginleft0,
*[marginleft0] {
  margin-left: 0px !important;
}
.marginright0,
*[marginright0] {
  margin-right: 0px !important;
}
.margintop0,
*[margintop0] {
  margin-top: 0px !important;
}
.marginbottom0,
*[marginbottom0] {
  margin-bottom: 0px !important;
}
.padding5,
*[padding5] {
  padding: 5px !important;
}
.paddingleft5,
*[paddingleft5] {
  padding-left: 5px !important;
}
.paddingright5,
*[paddingright5] {
  padding-right: 5px !important;
}
.paddingtop5,
*[paddingtop5] {
  padding-top: 5px !important;
}
.paddingbottom5,
*[paddingbottom5] {
  padding-bottom: 5px !important;
}
.margin5,
*[margin5] {
  margin: 5px !important;
}
.marginleft5,
*[marginleft5] {
  margin-left: 5px !important;
}
.marginright5,
*[marginright5] {
  margin-right: 5px !important;
}
.margintop5,
*[margintop5] {
  margin-top: 5px !important;
}
.marginbottom5,
*[marginbottom5] {
  margin-bottom: 5px !important;
}
.padding10,
*[padding10] {
  padding: 10px !important;
}
.paddingleft10,
*[paddingleft10] {
  padding-left: 10px !important;
}
.paddingright10,
*[paddingright10] {
  padding-right: 10px !important;
}
.paddingtop10,
*[paddingtop10] {
  padding-top: 10px !important;
}
.paddingbottom10,
*[paddingbottom10] {
  padding-bottom: 10px !important;
}
.margin10,
*[margin10] {
  margin: 10px !important;
}
.marginleft10,
*[marginleft10] {
  margin-left: 10px !important;
}
.marginright10,
*[marginright10] {
  margin-right: 10px !important;
}
.margintop10,
*[margintop10] {
  margin-top: 10px !important;
}
.marginbottom10,
*[marginbottom10] {
  margin-bottom: 10px !important;
}
.padding15,
*[padding15] {
  padding: 15px !important;
}
.paddingleft15,
*[paddingleft15] {
  padding-left: 15px !important;
}
.paddingright15,
*[paddingright15] {
  padding-right: 15px !important;
}
.paddingtop15,
*[paddingtop15] {
  padding-top: 15px !important;
}
.paddingbottom15,
*[paddingbottom15] {
  padding-bottom: 15px !important;
}
.margin15,
*[margin15] {
  margin: 15px !important;
}
.marginleft15,
*[marginleft15] {
  margin-left: 15px !important;
}
.marginright15,
*[marginright15] {
  margin-right: 15px !important;
}
.margintop15,
*[margintop15] {
  margin-top: 15px !important;
}
.marginbottom15,
*[marginbottom15] {
  margin-bottom: 15px !important;
}
.padding20,
*[padding20] {
  padding: 20px !important;
}
.paddingleft20,
*[paddingleft20] {
  padding-left: 20px !important;
}
.paddingright20,
*[paddingright20] {
  padding-right: 20px !important;
}
.paddingtop20,
*[paddingtop20] {
  padding-top: 20px !important;
}
.paddingbottom20,
*[paddingbottom20] {
  padding-bottom: 20px !important;
}
.margin20,
*[margin20] {
  margin: 20px !important;
}
.marginleft20,
*[marginleft20] {
  margin-left: 20px !important;
}
.marginright20,
*[marginright20] {
  margin-right: 20px !important;
}
.margintop20,
*[margintop20] {
  margin-top: 20px !important;
}
.marginbottom20,
*[marginbottom20] {
  margin-bottom: 20px !important;
}
.padding25,
*[padding25] {
  padding: 25px !important;
}
.paddingleft25,
*[paddingleft25] {
  padding-left: 25px !important;
}
.paddingright25,
*[paddingright25] {
  padding-right: 25px !important;
}
.paddingtop25,
*[paddingtop25] {
  padding-top: 25px !important;
}
.paddingbottom25,
*[paddingbottom25] {
  padding-bottom: 25px !important;
}
.margin25,
*[margin25] {
  margin: 25px !important;
}
.marginleft25,
*[marginleft25] {
  margin-left: 25px !important;
}
.marginright25,
*[marginright25] {
  margin-right: 25px !important;
}
.margintop25,
*[margintop25] {
  margin-top: 25px !important;
}
.marginbottom25,
*[marginbottom25] {
  margin-bottom: 25px !important;
}
.padding30,
*[padding30] {
  padding: 30px !important;
}
.paddingleft30,
*[paddingleft30] {
  padding-left: 30px !important;
}
.paddingright30,
*[paddingright30] {
  padding-right: 30px !important;
}
.paddingtop30,
*[paddingtop30] {
  padding-top: 30px !important;
}
.paddingbottom30,
*[paddingbottom30] {
  padding-bottom: 30px !important;
}
.margin30,
*[margin30] {
  margin: 30px !important;
}
.marginleft30,
*[marginleft30] {
  margin-left: 30px !important;
}
.marginright30,
*[marginright30] {
  margin-right: 30px !important;
}
.margintop30,
*[margintop30] {
  margin-top: 30px !important;
}
.marginbottom30,
*[marginbottom30] {
  margin-bottom: 30px !important;
}
.padding35,
*[padding35] {
  padding: 35px !important;
}
.paddingleft35,
*[paddingleft35] {
  padding-left: 35px !important;
}
.paddingright35,
*[paddingright35] {
  padding-right: 35px !important;
}
.paddingtop35,
*[paddingtop35] {
  padding-top: 35px !important;
}
.paddingbottom35,
*[paddingbottom35] {
  padding-bottom: 35px !important;
}
.margin35,
*[margin35] {
  margin: 35px !important;
}
.marginleft35,
*[marginleft35] {
  margin-left: 35px !important;
}
.marginright35,
*[marginright35] {
  margin-right: 35px !important;
}
.margintop35,
*[margintop35] {
  margin-top: 35px !important;
}
.marginbottom35,
*[marginbottom35] {
  margin-bottom: 35px !important;
}
.padding40,
*[padding40] {
  padding: 40px !important;
}
.paddingleft40,
*[paddingleft40] {
  padding-left: 40px !important;
}
.paddingright40,
*[paddingright40] {
  padding-right: 40px !important;
}
.paddingtop40,
*[paddingtop40] {
  padding-top: 40px !important;
}
.paddingbottom40,
*[paddingbottom40] {
  padding-bottom: 40px !important;
}
.margin40,
*[margin40] {
  margin: 40px !important;
}
.marginleft40,
*[marginleft40] {
  margin-left: 40px !important;
}
.marginright40,
*[marginright40] {
  margin-right: 40px !important;
}
.margintop40,
*[margintop40] {
  margin-top: 40px !important;
}
.marginbottom40,
*[marginbottom40] {
  margin-bottom: 40px !important;
}
.padding45,
*[padding45] {
  padding: 45px !important;
}
.paddingleft45,
*[paddingleft45] {
  padding-left: 45px !important;
}
.paddingright45,
*[paddingright45] {
  padding-right: 45px !important;
}
.paddingtop45,
*[paddingtop45] {
  padding-top: 45px !important;
}
.paddingbottom45,
*[paddingbottom45] {
  padding-bottom: 45px !important;
}
.margin45,
*[margin45] {
  margin: 45px !important;
}
.marginleft45,
*[marginleft45] {
  margin-left: 45px !important;
}
.marginright45,
*[marginright45] {
  margin-right: 45px !important;
}
.margintop45,
*[margintop45] {
  margin-top: 45px !important;
}
.marginbottom45,
*[marginbottom45] {
  margin-bottom: 45px !important;
}
.padding50,
*[padding50] {
  padding: 50px !important;
}
.paddingleft50,
*[paddingleft50] {
  padding-left: 50px !important;
}
.paddingright50,
*[paddingright50] {
  padding-right: 50px !important;
}
.paddingtop50,
*[paddingtop50] {
  padding-top: 50px !important;
}
.paddingbottom50,
*[paddingbottom50] {
  padding-bottom: 50px !important;
}
.margin50,
*[margin50] {
  margin: 50px !important;
}
.marginleft50,
*[marginleft50] {
  margin-left: 50px !important;
}
.marginright50,
*[marginright50] {
  margin-right: 50px !important;
}
.margintop50,
*[margintop50] {
  margin-top: 50px !important;
}
.marginbottom50,
*[marginbottom50] {
  margin-bottom: 50px !important;
}
.widthp5,
*[widthp5] {
  width: 5% !important;
}
.widthp10,
*[widthp10] {
  width: 10% !important;
}
.widthp15,
*[widthp15] {
  width: 15% !important;
}
.widthp20,
*[widthp20] {
  width: 20% !important;
}
.widthp25,
*[widthp25] {
  width: 25% !important;
}
.widthp30,
*[widthp30] {
  width: 30% !important;
}
.widthp35,
*[widthp35] {
  width: 35% !important;
}
.widthp40,
*[widthp40] {
  width: 40% !important;
}
.widthp45,
*[widthp45] {
  width: 45% !important;
}
.widthp50,
*[widthp50] {
  width: 50% !important;
}
.widthp55,
*[widthp55] {
  width: 55% !important;
}
.widthp60,
*[widthp60] {
  width: 60% !important;
}
.widthp65,
*[widthp65] {
  width: 65% !important;
}
.widthp70,
*[widthp70] {
  width: 70% !important;
}
.widthp75,
*[widthp75] {
  width: 75% !important;
}
.widthp80,
*[widthp80] {
  width: 80% !important;
}
.widthp85,
*[widthp85] {
  width: 85% !important;
}
.widthp90,
*[widthp90] {
  width: 90% !important;
}
.widthp95,
*[widthp95] {
  width: 95% !important;
}
.widthp100,
*[widthp100] {
  width: 100% !important;
}
.width10,
*[width10] {
  width: 10px !important;
}
.width20,
*[width20] {
  width: 20px !important;
}
.width30,
*[width30] {
  width: 30px !important;
}
.width40,
*[width40] {
  width: 40px !important;
}
.width50,
*[width50] {
  width: 50px !important;
}
.width60,
*[width60] {
  width: 60px !important;
}
.width70,
*[width70] {
  width: 70px !important;
}
.width80,
*[width80] {
  width: 80px !important;
}
.width90,
*[width90] {
  width: 90px !important;
}
.width100,
*[width100] {
  width: 100px !important;
}
.width110,
*[width110] {
  width: 110px !important;
}
.width120,
*[width120] {
  width: 120px !important;
}
.width130,
*[width130] {
  width: 130px !important;
}
.width140,
*[width140] {
  width: 140px !important;
}
.width150,
*[width150] {
  width: 150px !important;
}
.width160,
*[width160] {
  width: 160px !important;
}
.width170,
*[width170] {
  width: 170px !important;
}
.width180,
*[width180] {
  width: 180px !important;
}
.width190,
*[width190] {
  width: 190px !important;
}
.width200,
*[width200] {
  width: 200px !important;
}
.width210,
*[width210] {
  width: 210px !important;
}
.width220,
*[width220] {
  width: 220px !important;
}
.width230,
*[width230] {
  width: 230px !important;
}
.width240,
*[width240] {
  width: 240px !important;
}
.width250,
*[width250] {
  width: 250px !important;
}
.width260,
*[width260] {
  width: 260px !important;
}
.width270,
*[width270] {
  width: 270px !important;
}
.width280,
*[width280] {
  width: 280px !important;
}
.width290,
*[width290] {
  width: 290px !important;
}
.width300,
*[width300] {
  width: 300px !important;
}
.width310,
*[width310] {
  width: 310px !important;
}
.width320,
*[width320] {
  width: 320px !important;
}
.width330,
*[width330] {
  width: 330px !important;
}
.width340,
*[width340] {
  width: 340px !important;
}
.width350,
*[width350] {
  width: 350px !important;
}
.width360,
*[width360] {
  width: 360px !important;
}
.width370,
*[width370] {
  width: 370px !important;
}
.width380,
*[width380] {
  width: 380px !important;
}
.width390,
*[width390] {
  width: 390px !important;
}
.width400,
*[width400] {
  width: 400px !important;
}
.width410,
*[width410] {
  width: 410px !important;
}
.width420,
*[width420] {
  width: 420px !important;
}
.width430,
*[width430] {
  width: 430px !important;
}
.width440,
*[width440] {
  width: 440px !important;
}
.width450,
*[width450] {
  width: 450px !important;
}
.width460,
*[width460] {
  width: 460px !important;
}
.width470,
*[width470] {
  width: 470px !important;
}
.width480,
*[width480] {
  width: 480px !important;
}
.width490,
*[width490] {
  width: 490px !important;
}
.tabcontrol .tabs li a {
  background-color: #fff;
  margin: 5px 0px 5px 0px;
  border-radius: 0px;
}
.tabcontrol .tabs li.active a {
  background-color: #1ba1e2;
  text-shadow: none;
}
.tabcontrol .tabs {
  border-bottom-color: #ccc;
}
.tabcontrol .tabs li a {
  font-size: .7875rem;
  font-weight: 600;
}
.checkbox .check:before {
  height: .4125rem !important;
  width: .765rem !important;
}
.checkbox.inline {
  margin: 0 !important;
  height: auto;
  min-height: auto;
  line-height: 1;
}
.checkbox.small-check .check:before {
  height: .3125rem !important;
  width: .565rem !important;
}
.checkbox.small-check {
  line-height: 1 !important;
}
.radio .check:before {
  height: 4px !important;
  width: 4px !important;
  margin-left: -2px !important;
  margin-top: -2px !important;
  border-left: 0 !important;
  border-bottom: 0 !important;
}
.input-control input + .check:before {
  background-color: transparent !important;
  background: transparent !important;
}
.radio input:checked + .check,
[orange] .checkbox input:checked + .check {
  background-color: #f77846 !important;
  background: radial-gradient(ellipse 120% 90% at center 30%, #f7a17f 0%, #ff9b74 30%, #f77846 40%, #e46c25 90%);
}
.radio input:checked + .check:before,
[orange] .checkbox input:checked + .check:before {
  background-color: #3b1303 !important;
}
.radio .check:before,
[orange] .checkbox .check:before {
  transition: none !important;
}
.input-control.radio,
.input-control.checkbox {
  margin-top: 0px !important;
}
[orange] .checkbox input:checked + .check:before {
  border-color: #3b1303;
  background-color: transparent !important;
}
[orange] .checkbox .check {
  border-radius: 20%;
}
.input-control.radio,
.input-control1.radio {
  line-height: 1.1rem;
  height: 1.2rem;
  min-height: 1.2rem;
}
.fullwidth,
*[fullwidth] {
  width: 100%;
}
.height100,
*[height100] {
  height: 100%;
}
.vertical-center,
*[vertical-center] {
  vertical-align: middle;
  align-self: center;
}
.notransition,
.notransition *,
.notransition *:before {
  transition: none !important;
}
[flex1],
.flex1 {
  flex: 1 0 20px;
}
[flex0],
.flex0 {
  flex-grow: 0;
}
[justify],
.justify {
  justify-content: space-between;
}
table {
  width: 100%;
}
.flex,
*[flex] {
  display: flex;
  flex-wrap: wrap;
}
inline,
.inline {
  display: inline-block;
}
[cursor],
.cursor {
  cursor: pointer !important;
}
.hidden,
[hidden] {
  display: none;
}
.text-center {
  justify-content: center;
}
div[w100] {
  display: inline-block;
  width: 100%;
}
.h100,
*[h100] {
  height: 100%;
}
.inlineblock,
[inline] {
  display: inline-block;
}
[units] h4 {
  margin-bottom: 0px;
}
[units] table {
  margin-bottom: 25px;
  margin-top: 0px;
}
[units] table input[type="text"],
[units] table input[type="number"],
[units] table input[type="integer"] {
  width: 100%;
  max-width: 150px;
  min-width: 45px;
}
[units] table td:nth-child(2) input {
  width: 80%;
}
[units] table td:nth-child(4) input {
  width: 60%;
}
[units] table td:nth-child(1) input {
  min-width: 60px;
}
@media (max-width: 350px) {
  [units] table td,
  [units] table th {
    padding: 8px 4px !important;
  }
  [units] table td div[style] {
    display: none;
  }
}
.navbar a.active::after {
  content: " ";
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 100%;
  border-top: 30px solid white;
  border-left: 23px solid #467ea9;
  border-bottom: 30px solid white;
}
.navbar {
  margin-right: 25px;
  width: 200px;
}
.navbar a {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #467ea9;
  color: white;
  position: relative;
  height: 60px;
  margin: 3px 0px;
  width: 100%;
}
.navbar {
  z-index: 10;
  background-color: white;
}
@media (min-width: 500px) {
  [menubutton] {
    display: none;
  }
  .customcontainer {
    width: 300px;
  }
  .navbar1 {
    width: 200px;
  }
}
@media (min-width: 730px) {
  .customcontainer {
    width: 500px;
  }
}
@media (min-width: 930px) {
  .customcontainer {
    width: 700px;
  }
}
@media (min-width: 1230px) {
  .customcontainer {
    width: 1000px;
  }
}
.customcontainer,
.container-fluid {
  padding-left: 30px;
}
@media (max-width: 500px) {
  [menubutton] {
    display: block;
  }
  .navbar {
    position: absolute;
    left: -500px;
  }
  .navbar a.active::after {
    display: none;
  }
  .navbar1 {
    width: 0px;
  }
  .customcontainer {
    width: 100%;
  }
  .customcontainer,
  .container-fluid {
    padding-left: 7px;
  }
}
body {
  font-family: arial, sans-serif, serif;
}
.button.info:active {
  background: #1b6eae;
}
.redbutton {
  background-color: #bba59c;
}
.editbutton {
  background-color: #ddd;
}
.editbutton:active {
  background-color: #d5d5d5;
}
.redbutton:active {
  background-color: #b59d93;
}
.editbutton,
.redbutton {
  border: 1px solid grey;
}
.input-control input,
.input-control textarea,
.input-control select,
.input-control .input,
.input-control [input] {
  border: 1px solid #d9d9d9;
  width: 100%;
  height: 100%;
}
.input-control input:focus,
.input-control textarea:focus,
.input-control select:focus,
.input-control .input:focus,
.input-control [input]:focus,
.input-control input:hover,
.input-control textarea:hover,
.input-control select:hover,
.input-control .input:hover,
.input-control [input]:hover {
  border-color: #787878;
}
.input-control input input,
.input-control textarea input,
.input-control select input,
.input-control .input input,
.input-control [input] input,
.input-control input textarea,
.input-control textarea textarea,
.input-control select textarea,
.input-control .input textarea,
.input-control [input] textarea,
.input-control input select,
.input-control textarea select,
.input-control select select,
.input-control .input select,
.input-control [input] select,
.input-control input .fp-clock,
.input-control textarea .fp-clock,
.input-control select .fp-clock,
.input-control .input .fp-clock,
.input-control [input] .fp-clock {
  padding: .3125rem;
}
.input-file-wrapper {
  cursor: pointer !important;
}
div.hours {
  min-width: 210px;
}
[inputfield] label {
  margin-bottom: 0px;
  margin-top: 5px;
}
.info.button {
  background-color: #1ba1e2;
  border-color: #1ba1e2;
}
h3 {
  color: #467ea9;
  font-size: 1.5em;
  margin-bottom: 25px;
}
label {
  color: #0a1219;
  font-size: .9em;
}
[facilityprofile] h4 {
  font-size: 1.1em;
  font-weight: bold;
}
[facilityprofile] .borderedgrey label {
  font-size: .97em;
}
[facilityprofile] .borderedgrey {
  background-color: #f3f3f3;
}
[facilityprofile] .borderedgrey label {
  color: black;
  font-weight: 500;
  font-family: arial;
}
.popover {
  width: 300px !important;
}
button.button.grey {
  background-color: #eee !important;
}
button.button.grey:active {
  background-color: #ddd !important;
}
.info.blue {
  background-color: #1ba1e2;
}
.popover {
  padding: 0;
  background-color: white;
}
[hover]:hover,
.hover:hover {
  background-color: #f5f5f5;
}
[hover]:active,
.hover:active {
  background-color: #f0f0f0;
}
div[inputfield] {
  padding-right: 30px;
}
form.modal-footer {
  display: flex;
  justify-content: center;
  text-align: left;
}
@media (min-width: 990px) {
  [optionstable] td {
    height: 30px;
  }
}
input[type="textarea"],
.textarea textarea {
  clear: both;
  min-height: 60px !important;
}
[type="timerange"] .fp-container {
  width: auto !important;
  font-size: .88em;
}
[type="timerange"] .fp-clock {
  margin-left: 0px;
}
.fp-clock {
  padding: .3125rem 0 .3125rem .2rem;
}
textarea {
  margin-bottom: 10px;
}
p {
  margin-bottom: 15px;
}
.row {
  margin-left: 0px;
  margin-bottom: 20px;
  clear: both;
}
.row div:not(".popover div") {
  padding-left: 0px;
}
div[class*="-block"] {
  clear: both;
}
table td {
  vertical-align: top;
}
div[advertise] label {
  font-weight: normal;
}
button.button {
  height: 2.125rem;
  margin: .325rem 0;
}
[facility-auctions] .borderedgrey {
  padding-bottom: 10px;
}
[facility-auctions] .input-control b {
  color: #666;
}
.border,
.border:focus {
  border: 1px solid #aaa !important;
}
.borderedgrey {
  background-color: #f3f3f3;
  padding: 10px 0px 10px 30px ;
  border: 1px solid #c3c3c3;
  display: block;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 10px 20px 0px;
}
div[facilityprofile] .borderedgrey {
  padding-bottom: 20px;
}
div[auctioneeredit=""] b,
div[auctioneeredit=""] label {
  color: #464646;
  font-weight: bold;
  font-size: 13px;
}
/*# sourceMappingURL=/assets/s.css.map */