{{yield}}
{{#bs-modal body=false open=open footer=false title=(any msg 'Confirm Delete') }}
   {{#bs-modal-footer as |footer|}}
   <div>
 
     
   {{#bs-button type="primary" action=(combinefunc accept (action "close" target=footer))}}Delete{{/bs-button}}
   {{#bs-button action=(action "close" target=footer)}}Cancel{{/bs-button}}
   </div>
   {{/bs-modal-footer}}
 {{/bs-modal}}