<form {{action 'authenticate' on='submit'}}>
	<div>
		<label for="username">Username</label>
		{{input id="username" placeholder='Enter Username' value=identification}}
	</div>
	<div>
		<label for="password">Password</label>
		{{input id="password" type="password" placeholder='Enter Password' value=password}}
	</div>
	<button type="submit">Log In</button>
</form>
