Find Storage Facility Units & View Available Storage Units
<div class="row">
{{input type="radio"  name="search" value="Auctions"}}
{{input type="radio"  name="search" value="Available Units"}}
</div>
<div class="row">
 {{input type="text" label="Enter Postal Code" value=post name="post"}}
 {{input type="select" label="Select Radius" value=radius name="radius"}}
 {{#if auction}}
 {{input type="select" label="Select Day" value=day name="day"}}
 {{/if}}
</div>
<div class="row">
{{#each results as |result|}}



{{else}}
  No records found for the search criteria.
{{/each}}
</div>

{{rss-feed}} 
{{outlet}}
