

{{#if model.auctioneer}}

{{link-to }}


{{else if model.facility}}

{{link-to "Home" "facility" model.facility}}
{{link-to "Edit Profile" "facility/profile" model.facility.profile}}
{{link-to "View and Create Auction Listings" "facility/auctions" model.facility}}
{{link-to "Advertise Units" "facility/advertise" model.facility.advertise}}

{{link-to "Set Auction Rules" "facility/rules" model.facility}}
{{link-to "Email Preferences" "email" model.email}}
{{link-to "Find Auctioneer" "facility/find-auctioneer" model.facility}}




{{else if model.user}}


{{/if}}

{{outlet}}
