

  
{{#each rules as |rule index|}}
<div marginbottom10 flex>
<div class="pull-left">
<button type="button" class="btn btn-default" aria-label="Delete" {{action 'clickremove' rule}}>
  {{bs-glyph glyph="glyphicon-trash"}}
</button>
<br/>
<button type="button" class="btn btn-default" aria-label="Edit" {{action 'edit' index}}>
  {{bs-glyph glyph="glyphicon-pencil"}} 
</button>
</div>
{{textarea rows="5" class="widthp75 padding10 marginleft10" value=rule.text }}

</div>
{{/each}}
 

<p></p>

  {{add-button text="Add Rule" onclick=(action 'create')}}

  {{confirm-delete open=confirmdelete accept=(action 'remove' ) cancel=(action 'cancel') }}





{{yield}}
