<h3>Edit Listing</h3>
<div inline >
{{auction/create-auction model=model}}
</div>
<div class="inline" paddingright10>
<button class="button" onclick={{action (back)}}>Back</button>

{{submit-button "Save"}}
</div>
{{yield}}
